@import "tailwindcss";

:root {
  --bg: #050508;
  --s1: #0e0e14;
  --s2: #16161f;
  --s3: #1e1e2a;
  --b: #252533;
  --b2: #32324a;
  --acc: #c8f542;
  --acc2: #f5a623;
  --acc3: #42d9f5;
  --red: #f54242;
  --purple: #b87dff;
  --text: #eeeef5;
  --sub: #9898b8;
  --dim: #525270;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Instrument Sans", sans-serif;
  font-size: 13px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--b2);
  border-radius: 2px;
}
